<h1 align="center">Show Details</h1>
<hr>
<p><b>Firstname:-</b><%= @Firstname %></p>
<p><b>Lastname:-</b><%= @Lastname %></p>
<p><b>Age:-</b><%= @Age %></p>
<p><b>Gender:-</b><%= @Gender %></p>
<p><b>Email_id:-</b><%= @Email_id %></p>
<p><b>Mobile_no:-</b><%= @Mobile_no %></p>
<p><b>Username:-</b><%= @Username %></p>
<p><b>Password:-</b><%= @Password %></p>
<p><b>Hobby:-</b><%= @Hobby %></p>
<p><b>Subjects:-</b><%= @Subjects %></p>
<hr>
<h2 align="center"><%= link_to "SignUp Page",logins_create_path %></h2>