<p><b>Name:-</b><%= f.text_field :name %></p>
<p><b>Gender:-</b><%= f.radio_button :gender,'Male' %>Male
                  <%= f.radio_button :gender,'Female' %>Female</p>
<p><b>Age:-</b><%= f.text_field :age %></p>
<p><b>Subject:-</b><%= f.text_field :subject %></p>
<p><b>Address:-</b><%= f.text_area :address %></p>
<p><b>Email_id:-</b><%= f.email_field :email_id %></p>
<p><b>Phone_no:-</b><%= f.text_field :phone_no %></p>
<p><%= f.submit %></p>