<h1 align="center">Show Information</h1>
<hr>
<p><b>Name:-</b><%= @satya.name %></p>
<p><b>Gender:-</b><%= @satya.gender %></p>
<p><b>Age:-</b><%= @satya.age %></p>
<p><b>Subject:-</b><%= @satya.subject %></p>
<p><b>Address:-</b><%= @satya.address %></p>
<p><b>Email_id:-</b><%= @satya.email_id %></p>
<p><b>Phone_no:-</b><%= @satya.phone_no %></p>
<hr>
<h1 align="center"><%= link_to "Details Page",dewajis_path %></h1>