<% @Dee.each do |abc| %>
<p><b>Name:-</b><%= abc.name %></p>
<p><b>Gender:-</b><%= abc.gender %></p>
<p><b>Age:-</b><%= abc.age %></p>
<p><b>Email_id:-</b><%= abc.email_id %></p>
<p><b>Username:-</b><%= abc.username %></p>
<p><b>Password:-</b><%= abc.password %></p>
<p><b>Mobile_no:-</b><%= abc.mobile_no %></p>
<% end %>